@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  height: 100%;
}

#tab-bar {
  z-index: 99;
  position: fixed;
  width: 100%;
  height: fit-content;
  background-color: hsl(231, 15%, 20%);
}
#tab-container {
  display: flex;
  overflow-x: hidden;
  font-size: 15px;
  font-family: 'JetBrains Mono';
  color: white;
}
#tab-container > div {
  cursor: pointer;
  user-select: none;
  margin-right: 0.1em;
  padding: 0.5em 1em;
  background-color: hsl(231, 15%, 16%);
}
#tab-container > div:last-child {
  margin: 0;
}
#tab-container > .selected {
  background-color: #323547;
}
#tab-container > div:hover {
  background-color: #3f435a;
}
.tab-rename-ok {
  padding-bottom: 0;
  border-bottom: 0.15em solid #00ff62;
}
.tab-rename-err {
  padding-bottom: 0;
  border-bottom: 0.15em solid #ff2205;
}

#tab-context-menu {
  z-index: 200;
  display: none;
  position: fixed;
  cursor: pointer;
  font-family: 'JetBrains Mono';
  width: fit-content;
  color: white;
  background-color: hsl(231, 15%, 16%);
  box-shadow: 0 0 6px hsla(0, 0%, 0%, 0.5);
}
#tab-context-menu > div {
  user-select: none;
  padding: 0.5em 0.5em 0.5em 0;
  width: fit-content;
  height: 100%;
}
#tab-context-menu > div:hover {
  background-color: #3f435a;
}

.monaco-editor {
  margin-top: 35px;
}
#editor-container {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
#editor {
  width: 100%;
  height: 100%;
}

#output {
  white-space: pre;
  position: absolute;
  font-family: "consolas", "monospace";
  font-size: 18px;
  color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  padding: 0.8rem;
  width: 80vw;
  height: 80vh;
  background: #14141488;
  backdrop-filter: blur(6px);
  border-radius: 8px;
  overflow-y: auto;
}
#output:focus {
  outline: none !important;
  box-shadow: 0 0 10px #141414;
}
#output::-webkit-scrollbar {
  width: 20px;
}
#output::-webkit-scrollbar-track {
  background-color: transparent;
}
#output::-webkit-scrollbar-thumb {
  background-color: #2b2b2b;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}
#output::-webkit-scrollbar-thumb:hover {
  background-color: #303030;
}